* {
  box-sizing: border-box;
}

body {
  /* background-color: pink; */
}


img {
  width: 100%;
  display: block;
  height: auto;
}

.img-container {
  width: 25%;
  display: block;
}


/* Index */

.line-drawings-container {
  width: 25%;
}
